{extend name="public:head" /}
{block name="title"}推拿列表{/block}
{block name="css"}
{/block}
{block name="body"}
<script type="text/javascript">

    window.onload=function() {
        $(function () {
            $(".swiper-wrapper .swiper-slide").click(function () {
                // console.log($(this).index())
                $("#inputID").remove();
                $(".reserID").remove();
                $(".swiper-wrapper .swiper-slide").eq($(this).index()).addClass("on").siblings().removeClass("on");
                $('#reser_list .reser_content').css('display', 'none');
                $('#reser_list .reser_content').eq($(this).index()).css('display', 'block');
                $('.reser_content div').removeClass('ontime');
                var num = $(this).index();
                var inputs = $("<input type='hidden' id='inputID' name='april' value='" + num + "'>");
                $('.swiper-wrapper').append(inputs);
            })

            var oDiv = $('#reser_list .reser_content')
            for(var i = 0; i<oDiv.length;i++){
                var oDivSmall = oDiv[i].getElementsByClassName('reser');
                for (var j = 0; j < oDivSmall.length; j++) {

                    oDivSmall[j].index = j;
                    oDivSmall[j].onclick = function(){
                        $(".reserID").remove();
                        var nums = $(this).index();
                        var inputs = $("<input type='hidden' class='reserID' name='reser_time' value='"+nums+"'>");
                        $('.reser_content .col-xs-3').append(inputs);
                        $('.reser_content div').removeClass('ontime');
                        this.className = "col-xs-3 ontime";

                    };
                };
            }
        })
    }

</script>


<div style="width: 100%;margin-bottom:50px;">
    <div style="width:100%;display: flex">
        <div class="col-xs-12" style="padding:0;height:150px;" id="store_img">
            <img src="{$data.ms_pic}" class="img-responsive center-block">
        </div>
    </div>
    <div class="col-xs-12" id="store_add">
        <a id="store_add_url">
            <div class="col-xs-2 store_add_img">
                <img src="__IMAGES__/address.png">
            </div>
            <div class="col-xs-10 store_add_name">
                <span>{$data['ms_address']}</span>
            </div>
        </a>
    </div>
    <div class="Evaluation2 swiper-container">
        <div class="col-xs-12 swiper-wrapper">
            {foreach $data['title'] as $key=>$vo }
                <div class="col-xs-12 swiper-slide {if $key eq 0}on {/if}">
                    <div class="reser_resertime">
                        <div style="font-size: 15px">{$vo['key']}</div>
                        <div style="font-size: 12px"> {$vo['value']}</div>
                    </div>
                </div>
                {if $key == 0}
                    <input type='hidden' id='inputID' name='april' value='0'>
                {/if}
            {/foreach}
        </div>
    </div>
    <div id="reser_list">
        {foreach $data['workShift'] as $key=>$value}
             <div class="reser_content {if $key eq 0}dispblock{/if}" >
            {foreach $value as $k=>$v}
                <div class="col-xs-3  {if $v['expire'] eq 'false'}bg{elseif $v['state'] != 'false'}reser{/if}" >
                    <span>{$v['time']}<br>
                        {if $v['expire'] == 'false'}
                            <span style="font-size:10px;">(时间过期)</span>
                        {else /}
                             {if $v['state'] == 'false'}
                                <span style="font-size:10px;color: red">(已满)</span>
                            {else /}
                                <span style="font-size:10px;">(还剩{$v['value']}个空位)</span>
                            {/if}
                        {/if}


                    </span>
                </div>
            {/foreach}
            </div>
        {/foreach}
    </div>

    <div class="reser_botton">
        <button type="button" onclick="reserDisplay()" class="btn btn-success btn-lg">确认预约</button>
    </div>

    <div class="shadow" id="shadow" style="display: none;"></div>

    <div class="reserForm float-e-margins" style="display: none">
        <div class="col-sm-6" style="padding: 0">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>预约信息<span style="color: red">(红色*为必填项)</span></h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="padding: 0">
                    <div class="form-group col-xs-12 reserFormDiv" style="padding-top: 10px">
                        <div class="col-xs-3 control-label" style="line-height: 35px;">
                            <label class="control-label">姓名<span style="color: red">*</span></label>
                        </div>
                        <div class="col-xs-8" style="padding: 0">
                            <input name="mr_name" type="text" class="form-control"placeholder="联系姓名">
                        </div>
                    </div>

                    <div class="form-group col-xs-12 reserFormDiv" style="padding-top: 10px">
                        <div class="col-xs-3 control-label" style="line-height: 35px;padding: 0">
                            <label class="control-label">手机号码<span style="color: red">*</span></label>
                        </div>
                        <div class="col-xs-8" style="padding: 0">
                            <input name="mr_phone" type="text" class="form-control" placeholder="手机号码">
                        </div>
                    </div>

                    <div class="form-group col-xs-12 reserFormDiv" style="padding-top: 10px;height: auto">
                        <div class="col-xs-3 control-label" style="line-height: 35px;padding: 0">
                            <label class="control-label">备注</label>
                        </div>
                        <div class="col-xs-8" style="padding: 0">
                            <textarea class="form-control" name="mr_remarks" rows="3"
                                      placeholder="请说明宝宝的具体情况，如流鼻水或日常保健等"></textarea>
                        </div>
                    </div>

                    <div class="form-group reser_botton col-xs-12">
                        <button type="button" onclick="submin()" class="btn btn-primary btn-lg">确认预约</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{/block}
{block name="js"}
<script type="text/javascript">
    var a = document.getElementById('store_add_url');
    if(GetUrlParam('ms_id') == 1){
        html = "https://map.baidu.com/mobile/webapp/place/detail/qt=ninf&da_src=searchBox.button&wd=%E4%B9%90%E5%A9%B4%E5%B2%9B(%E9%87%91%E6%B2%99%E8%B7%AF%E6%97%97%E8%88%B0%E5%BA%97)&c=257&src=0&wd2=%E5%B9%BF%E5%B7%9E%E5%B8%82%E6%B5%B7%E7%8F%A0%E5%8C%BA&pn=0&sug=1&l=21&from=webmap&biz_forward=%7B%22scaler%22%3A1%2C%22styles%22%3A%22pl%22%7D&uid=9ea481535702f32a9cf7798b&industry=shopping&qid=2193366526345615355/showall=1&pos=0&da_ref=listclk&da_qrtp=11&da_adquery=%E4%B9%90%E5%A9%B4%E5%B2%9B(%E9%87%91%E6%B2%99%E8%B7%AF%E6%97%97%E8%88%B0%E5%BA%97)&da_adtitle=%E4%B9%90%E5%A9%B4%E5%B2%9B(%E9%87%91%E6%B2%99%E8%B7%AF%E6%97%97%E8%88%B0%E5%BA%97)&da_adindus=%E8%B4%AD%E7%89%A9%3B%E5%95%86%E9%93%BA&detail_from=list&vt=map"
        a.href = html
    }else if(GetUrlParam('ms_id') == 2){
        html = "https://map.baidu.com/mobile/webapp/place/detail/qt=inf&uid=60ab0980642c464bfa42b2fb&cityCode=138&tn=B_NORMAL_MAP&hb=B_SATELLITE_STREET/vt=map"
        a.href = html
    }
     new Swiper('.swiper-container',{
        slidesPerView :'auto',
        pagination: '.pagination',
        paginationClickable: true,
        freeMode: true,
        freeModeFluid: true,
        observer:true,
        observeParents:true,//修改swiper的父元素时，自动初始化swiper
    })


    //关闭填写预约信息
    $('.close-link').click(function () {
        $('.reserForm').css('display','none')
        $('.shadow').css('display','none')

    });
    
    function reserDisplay() {
        // let april = $('input[name="april"]').val();
        let reser_time = $('input[name="reser_time"]').val();
        if(reser_time == undefined){
            layer.msg('请选择预约的时间段',{time: 2000, icon:5})
            return false
        }else{
            $('.reserForm').css('display','block')
            $('.shadow').css('display','block')
        }

    }

    //提交预约信息
    function submin() {
        let april = $('input[name="april"]').val();
        let reser_time = $('input[name="reser_time"]').val();
        console.log('日期为',april)
        console.log('时间为',reser_time)
    }
</script>
{include file="public/footer_nav" /}
{/block}
