{extend name="public:head" /}
{block name="title"}个人中心{/block}
{block name="css"}
{/block}
{block name="body"}
<div class="col-xs-12 user_head">
    <div class="col-xs-4 user_head_pic">
        <div class="user_pic"  align="center">
            <img class="img-circle" id="user_pic" height="80" src="{$data['u_head_pic']|default='./static/adminView/images/user68.jpg' }">
        </div>
    </div>
    <div class="col-xs-8 user_head_name">
        <div class="user_nickname"><span>{$data['u_nickname']|default='神秘身份'}</span></div>
    </div>
</div>

<div class="col-xs-12 user_list">
    <div class="row">
        <div class="col-sm-12">
            <div class="float-e-margins">
                <div class="ibox-content" style="padding: 0;">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="javascript:;">预约列表</a>
                            </li>
                            <li class="">
                                <a href="javascript:;">历史记录</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" style="margin-top: 10px">
                                <div class="col-sm-12 panel-body reser_user_list" id="reser_user_list" style="padding: 0">
                                    {volist name="newReserList" id="vo" empty="<div class='booking_list'
                                         style='color: #A7B1C2;'><span>近期无小儿推拿预约</span></div>" }
                                    <div class="booking_list">
                                        <div class="col-xs-7 reser_time">
                                            <div class="col-xs-12" style="height: 40px">
                                                <span>预约门店：{$vo.ms_name}</span></div>
                                            <div class="col-xs-12" style="height: 30px">
                                                <div class="col-xs-3 reser_start_time" style="height: 30px;line-height: 30px">
                                                </div>
                                                <div class="col-xs-9" style="height: 30px;line-height: 30px">
                                                    {$vo['startTime']}
                                                </div>
                                            </div>
                                            <div class="col-xs-12" style="height: 30px">
                                                <div class="col-xs-3 reser_end_time" style="height: 30px;line-height: 30px"></div>
                                                <div class="col-xs-9" style="height: 30px;line-height: 30px">
                                                    {$vo['endTime']}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <button type="button" onclick="reserCancel({$vo['mr_id']})" class="btn btn-success">取消预约</button>
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                            </div>
                            <div class="tab-pane" style="margin-top: 10px">
                                <div class="col-sm-12 panel-body reser_user_list" style="padding: 0;">
                                    {volist name="ReserList" id="vo" empty="暂时没有数据" }
                                    <div class="booking_list">
                                        <div class="col-xs-7 reser_time">
                                            <div class="col-xs-12" style="height: 40px">
                                                <span>预约门店：{$vo.ms_name}</span></div>
                                            <div class="col-xs-12" style="height: 30px">
                                                <div class="col-xs-3 reser_start_time" style="height: 30px;line-height: 30px">
                                                </div>
                                                <div class="col-xs-9" style="height: 30px;line-height: 30px">
                                                    {$vo['startTime']}
                                                </div>
                                            </div>
                                            <div class="col-xs-12" style="height: 30px">
                                                <div class="col-xs-3 reser_end_time" style="height: 30px;line-height: 30px"></div>
                                                <div class="col-xs-9" style="height: 30px;line-height: 30px">
                                                    {$vo['endTime']}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <button type="button" disabled="disabled" class="btn btn-default btn-lg">过期记录</button>
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    $('.tabs-container ul li').click(function (e) {
        $(this).siblings().removeClass("active")
        $(this).addClass('active')
        $(".tab-content").children().eq($(this).index()).siblings().removeClass("active")
        $(".tab-content").children().eq($(this).index()).addClass("active")
    })

    //取消预约请求后台数据
    function reserCancel(mr_id) {
        layer.confirm('确认取消推拿预约？', {
            btn: ['确认','取消'], //按钮
            title:'标题'
        }, function(){
            layer.msg('确认', {icon: 1});
        }, function(){
            layer.msg('取消', {icon: 1});
        });
    }

</script>
{include file="public/footer_nav" /}
{/block}
