{extend name="public:head" /}
{block name="title"}排班设置{/block}
{block name="css"}
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__CSS__/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
<link href="__CSS__/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet">
<link href="__CSS__/style.min.css" rel="stylesheet"><base target="_blank">
{/block}
{block name="body"}
<div class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInDown">
                <div class="col-sm-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>门店 / 员工</h5>
                        </div>
                        <div class="ibox-content">
                            <div id='external-events'></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>休息时间 </h5>
                            <div class="ibox-tools" style="color: red">
                                (点击错误的时间和名称可以删除)
                            </div>
                        </div>

                        <div class="ibox-content">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/jquery-ui.custom.min.js"></script>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/fullcalendar/fullcalendar.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        massagePersonnelAjax();
        //获取推拿门店员工和门店
        function massagePersonnelAjax() {
            $.ajax({
                type : 'get',
                url : "massage_store_list.html",
                async : false,
                dataType : 'json',
                success : function(e){
                    if(e.code < 0){
                        errorMsg(e.msg)
                    }else{
                        let html = '';
                        $.each(e.data,function (key,value) {
                            html += "<p>"+value.ms_name+"</p>";
                            $.each(value.store,function (k,v) {
                                html += "<div class='external-event navy-bg' data-name='"+v.mp_name+"' data-id='"+v.mp_id+"'>"+v.mp_name+"</div>"
                            })
                        });
                        $("#external-events").html(html)
                    }
                },error:function (xhr) {
                    if(!errorAjax(xhr.status)){
                        return false;
                    }
                }
            })
        }

        $("#external-events div.external-event").each(function(){
            var d={title:$.trim($(this).text())};
            $(this).data("eventObject",d);
            $(this).draggable({
                zIndex:999,
                revert:true,
                revertDuration:0
            })
        });

        $("#calendar").fullCalendar({
            header:{
                left:"prev,next",
                center:"title",
                right:"month"
            },
            editable:true,
            droppable:true,
            drop:function(g,h){
                //左边拖动到右边写进数据库
                var time = g.getFullYear() + "-" +((g.getMonth()+1)<10?"0":"")+(g.getMonth()+1)+"-"+(g.getDate()<10?"0":"")+g.getDate();
                //拖动到日历 传值给后端
                let mr_mpId = $(this).data('id')
                let name = $(this).data('name')
                var f = $(this).data("eventObject");
                var d = $.extend({},f);
                d.start = g;
                d.end = g;
                d.allDay = h;
                d.id = $(this).data('id')
                layer.confirm(name+' ('+time+')为休息时间',{title:'提示信息'},function(){
                    $.post("scheduling_add.html",{
                        mr_mpId:mr_mpId,
                        mr_date:time
                    },function(e){
                        let array = JSON.parse(e)
                        if(array.code < 0){
                            errorMsg(array.msg)
                        }else{
                            layer.closeAll('dialog');
                            $("#calendar").fullCalendar("renderEvent",d,true);
                        }
                    });

                })
            },
            eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
                //日历拖动传值给后端
                let t = event.start
                // $("#calendar").fullCalendar( 'refetchEvents' );//加载数据

                let time = new Date(t).getTime();
                let start = getLocalTime(time - (dayDelta*(24*60*60*1000)))
                let end = t.getFullYear() + "-" +((t.getMonth()+1)<10?"0":"")+(t.getMonth()+1)+"-"+(t.getDate()<10?"0":"")+t.getDate();


                $.post("scheduling_save.html?id="+event.mr_id+'&date='+start+'&mp_id='+event.mp_id,{
                    mr_date:end
                },function(e){
                    let array = JSON.parse(e)
                    if(array.code < 0){
                        errorMsg(array.msg)

                    }
                    $("#calendar").fullCalendar( 'refetchEvents' );
                });
            },
            events: function(start,end,timezone) {
                // console.log('加载数据')
                //加载排班数据  start 开始时间  end  结束时间
                var start = start.getFullYear() + "-" +((start.getMonth()+1)<10?"0":"")+(start.getMonth()+1)+"-"+(start.getDate()<10?"0":"")+start.getDate();
                var end = end.getFullYear() + "-" +((end.getMonth()+1)<10?"0":"")+(end.getMonth()+1)+"-"+(end.getDate()<10?"0":"")+end.getDate();

                $.post("scheduling_list.html",{
                    start:start,
                    end:end
                },function(e){
                    let array = JSON.parse(e)
                    var events = [];
                    $.each(array.data,function(i,c) {
                        events.push({
                            mr_id: c.mr_id ,
                            mp_id:c.mr_mpId,
                            title: c.mp_name,
                            start: c.mr_date ,
                            className:'bg-color',
                        });
                    })
                    timezone(events);
                });

            },
            eventClick:function (event, jsEvent, view) {
                //点击选择
                console.log(event);
            }
        })
    })






</script>
{/block}