{extend name="public:head" /}
{block name="title"}推拿员工列表{/block}
{block name="css"}
<style type="text/css">
    img{
        width: 50px;
    }
</style>
{/block}
{block name="body"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>推拿员工列表</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-outline btn-default"
                                        onclick="massage_personnel_add('添加推拿员工','massage_personnel_add_view.html','850','550')" >
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    添加推拿员工
                                </button>
                            </div>
                            <table id="exampleTableEvents" data-mobile-responsive="true">

                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
    let operation = ''
    let array = [];

    $(function () {
        storeMassageAjax()
    })

    //更新推拿员工列表
    function storeMassageAjax() {
        $("#exampleTableEvents").bootstrapTable('destroy');//清除table
        $("#exampleTableEvents").bootstrapTable({
            url: "staff_list.html",
            method : 'post',
            search: !0,
            pagination: !0,
            showRefresh: !0,
            showColumns: !0,
            iconSize: "outline",
            sortable: !0,
            toolbar: "#exampleTableEventsToolbar",
            pageSize: 20,//每页显示多少条数据
            sidePagination: "client",
            pageList: [20, 25, 50, 100],
            sortName : 'mp_id',
            sortOrder : 'asc',
            icons: {
                refresh: "glyphicon-repeat",
                toggle: "glyphicon-list-alt",
                columns: "glyphicon-list"
            },
            columns: [
                {
                    field: 'mp_id',
                    align: 'center',
                    title: '编号',
                },
                {
                    field: 'mp_name',
                    title: '推拿员工名称',
                    align: 'center',
                },
                {
                    field: 'mp_spell',
                    title: '推拿员工名称拼音',
                    align: 'center',
                },
                {
                    field: 'ms_name',
                    title: '所属推拿门店',
                    align: 'center',
                },
                {
                    field: 'mp_workShift',
                    title: '员工上班时间',
                    align: 'center',
                    formatter:function (value) {
                        if(value == 1){
                            return '全天';
                        }else if(value == 2){
                            return '上午'
                        }else{
                            return '下午';
                        }
                    }
                },
                {
                    field: 'mp_time',
                    title: '添加时间',
                    align: 'center',
                },
                {
                    field: 'mp_id',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row) {
                        var html = '';
                        html += '<span style="margin-right: 5px" ' +
                            'onclick="massage_personnel_save(\'修改推拿员工[ '+row.mp_name+' ]\',\'massage_personnel_add_view.html\',800,500,'+JSON.stringify(row).replace(/"/g, '&quot;')+')">' +
                            '<a href="javascript:;" >修改</a></span>';

                        html += '<span style="margin-right: 5px" ' +
                            'onclick="massage_personnel_del(this,\''+value+'\',\''+row.mp_name+'\')">' +
                            '<a href="javascript:;" >删除</a></span>';
                        return  html
                    }
                }
            ]
        });
    }

    /**
     * 显示推拿门店员工页面
     * @param title 标题
     * @param url 添加地址
     * @param w 宽度
     * @param h  高度
     */
    function massage_personnel_add(title,url,w,h) {
        operation = 'add'
        array = []
        layerShow(title,url,w,h);
    }

    /**
     * 显示推拿员工页面
     * @param title
     * @param url
     * @param w
     * @param h
     * @param data
     */
    function massage_personnel_save(title,url,w,h,data) {
        operation = 'save'
        array = data
        layerShow(title,url,w,h);
    }

    function massage_personnel_del(obj,id,mp_name) {
        layer.confirm('确认要删除['+mp_name+']员工吗？',function(){
            $.ajax({
                type: "get",
                url: "massage_personnel_del.html?mp_id="+id,
                dataType: "json",
                crossDomain: true,
                success: function (data) {
                    if(data.code < 0){
                        errorMsg(data.msg)
                    }else{
                        storeMassageAjax()
                    }
                }
            })
            layer.closeAll('dialog');
        })
    }

    /**
     * 给子页面传值
     * @returns {Array}  返回数组给子页面
     */
    function parentData() {
        var data = [];
        data['operation'] = operation
        data['data'] = array
        return data
    }


</script>
{/block}