{extend name="public:head" /}
{block name="title"}推拿门店列表{/block}
{block name="css"}
<style type="text/css">
img{
    width: 50px;
}
</style>
{/block}
{block name="body"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>推拿门店列表</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-outline btn-default" onclick="store_massage_add('添加推拿门店','store_massage_add_view.html','100%','100%')" >
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    添加推拿门店
                                </button>
                            </div>
                            <table id="exampleTableEvents" data-mobile-responsive="true">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
    $(function () {
        storeMassageAjax()
        imageEnlarge()
    })

    var array = [];
    //获取推拿门店列表
    function storeMassageAjax() {
        $("#exampleTableEvents").bootstrapTable('destroy');//清除table
        $("#exampleTableEvents").bootstrapTable({
            url: "store_massage_list.html",
            ajaxOptions: {
                async: false // 如果设置为异步，需要等请求成功后才会生成下面的tr和td，就无法在td中添加按钮
            },
            method : 'post',
            search: !0,
            pagination: !0,
            showRefresh: !0,
            showColumns: !0,
            iconSize: "outline",
            sortable: !0,
            toolbar: "#exampleTableEventsToolbar",
            pageSize: 20,//每页显示多少条数据
            sidePagination: "client",
            pageList: [20, 25, 50, 100],
            sortName : 'ms_id',
            sortOrder : 'asc',
            icons: {
                refresh: "glyphicon-repeat",
                toggle: "glyphicon-list-alt",
                columns: "glyphicon-list"
            },
            columns: [
                {
                    field: 'ms_id',
                    align: 'center',
                    title: '编号',
                },
                {
                    field: 'ms_name',
                    title: '推拿门店名称',
                    align: 'center',
                },
                {
                    field: 'ms_address',
                    title: '推拿门店地址',
                    align: 'center',
                },
                {
                    field: 'ms_phone',
                    title: '推拿门店电话',
                    align: 'center',
                },
                {
                    field: 'ms_number',
                    title: '推拿门店上班人数',
                    align: 'center',
                },
                {
                    field: 'ms_workShift',
                    title: '推拿门店上班时间',
                    align: 'center',
                    width:400,
                    formatter:function (val) {

                        let html = '';
                        $.each(val.split(','),function (k,v) {
                            html += massage_time[v]+'，';
                        })
                        return html.substr(0, html.length - 1);
                    }
                },
                {
                    field: 'ms_pic',
                    title: '门店图片',
                    align: 'center',
                    width:200,
                    formatter:function (value,row) {
                        let html = "<image src='"+value+"'></image>";
                        return html
                    }
                },
                {
                    field: 'ms_time',
                    title: '添加时间',
                    align: 'center',
                },
                {
                    field: 'ms_id',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row) {
                        var html = '';
                        html += '<span style="margin-right: 5px" ' +
                            'onclick="manager_store_save(\'修改[ '+row.ms_name+' ]\',\'store_massage_save_view.html\',\'100%\',\'100%\','+JSON.stringify(row).replace(/"/g, '&quot;')+')">' +
                            '<a href="javascript:;" >编辑</a></span>';
                        //
                        html += '<span style="margin-right: 5px" ' +
                            'onclick="manager_store_del(this,\''+value+'\',\''+row.ms_name+'\')">' +
                            '<a href="javascript:;" >删除</a></span>';
                        return  html
                    }
                }
            ]
        });
    }

    /**
     * 显示推拿门店页面
     * @param title 标题
     * @param url 添加地址
     * @param w 宽度
     * @param h  高度
     */
    function store_massage_add(title,url,w,h) {
        var index = layer.open({
            title:title,
            type: 2,
            content: url,
            area: [w, h],
            maxmin: true
        });
        layer.full(index);
    }

    /**
     * 显示推拿门店页面
     * @param title 标题
     * @param url 添加地址
     * @param w 宽度
     * @param h  高度
     */
    function manager_store_save(title,url,w,h,data) {
        // console.log(data)
        array = data
        var index = layer.open({
            title:title,
            type: 2,
            content: url,
            area: [w, h],
            maxmin: true,
        });
        layer.full(index);
    }

    /**
     * 删除推拿门店
     * @param obj
     * @param ms_id
     * @param title
     */
    function manager_store_del(obj,ms_id,title) {
        layer.confirm('确认要删除['+title+']推拿门店吗?',function(){
            $.ajax({
                type : 'DELETE',
                url : "massage_store_del.html?ms_id="+ms_id,
                async : true,
                dataType : 'json',
                success : function(e){
                    if(e.code < 0){
                        errorMsg(e.msg)
                    }else{
                        storeMassageAjax()
                    }
                },error:function (xhr) {
                    if(!errorAjax(xhr.status)){
                        return false;
                    }
                }
            })
            layer.closeAll();
        })
    }

    function arrayData() {
        var data = [];
        data['data'] = array
        return data
    }

</script>
{/block}