{extend name="public:head" /}
{block name="title"}推拿门店列表{/block}
{block name="css"}
<style type="text/css">
img{
    width: 100px;
}
</style>
{/block}
{block name="body"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>推拿门店列表</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-outline btn-default" onclick="store_massage_add('添加推拿门店','store_massage_add_view.html','100%','100%')" >
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    添加推拿门店
                                </button>
                            </div>
                            <table id="exampleTableEvents" data-mobile-responsive="true">

                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
    $(function () {
        storeMassageAjax()
    })
    
    function storeMassageAjax() {
        $("#exampleTableEvents").bootstrapTable('destroy');//清除table
        $("#exampleTableEvents").bootstrapTable({
            url: "store_massage_list.html",
            method : 'post',
            search: !0,
            pagination: !0,
            showRefresh: !0,
            showColumns: !0,
            iconSize: "outline",
            sortable: !0,
            toolbar: "#exampleTableEventsToolbar",
            pageSize: 20,//每页显示多少条数据
            sidePagination: "client",
            pageList: [20, 25, 50, 100],
            sortName : 'sm_id',
            sortOrder : 'asc',
            icons: {
                refresh: "glyphicon-repeat",
                toggle: "glyphicon-list-alt",
                columns: "glyphicon-list"
            },
            columns: [
                {
                    field: 'sm_id',
                    align: 'center',
                    title: '编号',
                },
                {
                    field: 'sm_name',
                    title: '推拿门店名称',
                    align: 'center',
                },
                {
                    field: 'sm_title',
                    title: '推拿门店地址',
                    align: 'center',
                },
                {
                    field: 'sm_title',
                    title: '推拿门店电话',
                    align: 'center',
                },
                {
                    field: 'sm_pic',
                    title: '门店图片',
                    align: 'center',
                    width:200,
                    formatter:function (value,row) {
                        let html = "<image src='"+value+"'></image>";
                        return html
                    }
                },
                {
                    field: 'sm_time',
                    title: '添加时间',
                    align: 'center',
                },
                {
                    field: 'sm_id',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row) {
                        var html = '';
                        // if(row.m_state == '2'){
                        //     html += '<span style="margin-right: 5px"' +
                        //         ' onclick="manager_state(\'启用\',\'1\',\''+value+'\',\''+row.m_name+'\',\''+row.ag_id+'\')">' +
                        //         '<a href="javascript:;">启用</a></span>';
                        // }else{
                        //     html += '<span style="margin-right: 5px"' +
                        //         ' onclick="manager_state(\'停用\',\'2\',\''+value+'\',\''+row.m_name+'\',\''+row.ag_id+'\')">' +
                        //         '<a href="javascript:;" >停用</a></span>';
                        // }
                        // html += '<span style="margin-right: 5px" ' +
                        //     'onclick="manager_save(\'修改管理员[ '+row.m_name+' ]\',\'managerSaveView.html\',800,500,'+JSON.stringify(row).replace(/"/g, '&quot;')+')">' +
                        //     '<a href="javascript:;" >修改</a></span>';
                        //
                        // html += '<span style="margin-right: 5px" ' +
                        //     'onclick="manager_del(this,\''+value+'\',\''+row.m_name+'\')">' +
                        //     '<a href="javascript:;" >删除</a></span>';
                        return  html
                    }
                }
            ]
        });
    }

    /**
     * 显示推拿门店页面
     * @param title 标题
     * @param url 添加地址
     * @param w 宽度
     * @param h  高度
     */
    function store_massage_add(title,url,w,h) {
        var index = layer.open({
            title:title,
            type: 2,
            content: url,
            area: [w, h],
            maxmin: true
        });
        layer.full(index);
    }
</script>
{/block}