{extend name="public:head" /}
{block name="title"}添加推拿门店信息{/block}
{block name="css"}

{/block}
{block name="body"}
<div class="col-sm-12" style="padding: 0">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form method="post" class="form-horizontal" id="saveAjax" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="essential">*</span>
                        &nbsp;&nbsp;推拿门店名称</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="请输入推拿门店名称" required="required" class="form-control" name="ms_name" autocomplete="off">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="essential">*</span>
                        &nbsp;&nbsp;推拿门店地址</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="请输入推拿门店地址"
                               required="required" class="form-control" name="ms_address" autocomplete="off">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        推拿门店电话</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="请输入推拿门店电话" class="form-control" name="ms_phone"
                               autocomplete="off">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="essential">*</span>
                        推拿上班时间</label>
                    <div class="col-sm-10">
                        <select data-placeholder="上班时间,可以多选" name="ms_workShift" id="massage_time" class="chosen-select col-sm-10" multiple tabindex="5">
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        推拿门店图片</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" autocomplete="off" id="ms_pic" name="ms_pic" onclick="clickUpload()">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">保存内容</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script type="text/javascript">
    var array = parent.arrayData() //父页面数据
    // console.log(array)
    $('input[name="ms_name"]').val(array.data.ms_name);
    $('input[name="ms_address"]').val(array.data.ms_address);
    $('input[name="ms_phone"]').val(array.data.ms_phone);
    $('input[name="ms_pic"]').val(array.data.ms_pic);

    $('#saveAjax').on('submit',function (event) {
        $.ajax({
            type : 'post',
            url : "store_massage_save.html?ms_id="+array.data.ms_id,
            async : true,
            dataType : 'json',
            data:formData(),
            success : function(e){
                console.log(e)
                if(e.code < 0){
                    errorMsg(e.msg)
                }else{
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    parent.storeMassageAjax(); //再执行关闭
                }
            },error:function (xhr) {
                if(!errorAjax(xhr.status)){
                    return false;
                }
            },beforeSend:function(){
                index = layer.msg('添加门店提交中', {
                    icon: 16,
                    shade: 0.4,
                    time:false //取消自动关闭
                });
            },
        })
        event.preventDefault();
    })

    let html = ''
    let ms_workShift = array.data.ms_workShift
    // console.log(ms_workShift.split(','))
    $.each(massage_time,function (key,val) {
        if(isInArray(ms_workShift.split(','),key)){
            html += "<option value='"+key+"' hassubinfo='true' selected>"+val+"</option>"
        }else{
            html += "<option value='"+key+"' hassubinfo='true'>"+val+"</option>"
        }
    })
    $('#massage_time').html(html)

    $(".chosen-select").chosen({rtl: true});

    /**
     * 使用循环的方式判断一个元素是否存在于一个数组中
     * @param {Object} arr 数组
     * @param {Object} value 元素值
     */
    function isInArray(arr,value){
        for(var i = 0; i < arr.length; i++){
            if(value == arr[i]){
                return true;
            }
        }
        return false;
    }

    //上传图片
    function clickUpload() {
        layer.open({
            type: 2,
            title: '上传图片',
            shadeClose: false,
            btn:['确定','取消'],
            shade: 0.8,
            closeBtn:0,
            area: ['820px', '550px'],
            content: 'upload_view.html',
            yes:function(index){
                var iframeWin1 = window["layui-layer-iframe" + index];
                var res = iframeWin1.callbackdata();
                $('#ms_pic').val(res)
                layer.close(index);
            },
        });
    }

    /**
     * 给子页面传值
     * @returns {Array}  返回数组给子页面
     */
    function Subpage() {
        var data = [];
        data['url'] = 'upload.html?name=store_massage';
        data['name'] = 'store_massage';
        data['num'] = '1';
        return data
    }

</script>

{/block}