{extend name="public:head" /}
{block name="title"}推拿预约列表{/block}
{block name="css"}{/block}

{block name="body"}
<div class="wrapper wrapper-content animated fadeInRight">

</div>
{/block}

{block name="js"}
<script type="text/javascript" src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script type="text/javascript" src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
{/block}