{extend name="public:head" /}
{block name="title"}修改门店信息{/block}
{block name="css"}

{/block}
{block name="body"}
<div class="col-sm-12" style="padding: 0">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form method="post" class="form-horizontal" id="saveAjax" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="essential">*</span>
                        &nbsp;&nbsp;门店名称</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="请输入门店名称" required="required" class="form-control" name="s_name" autocomplete="off">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="essential">*</span>
                        &nbsp;&nbsp;门店地址</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="请输入门店地址"
                               required="required" class="form-control" name="s_address" autocomplete="off">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        门店电话</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="请输入门店电话" class="form-control" name="s_phone"
                               autocomplete="off">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                       门店图片</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" autocomplete="off" id="s_pic" name="s_pic" onclick="clickUpload()">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">保存内容</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script type="text/javascript">
    var array = parent.arrayData() //父页面数据
    $('input[name="s_name"]').val(array.data.s_name);
    $('input[name="s_address"]').val(array.data.s_address);
    $('input[name="s_phone"]').val(array.data.s_phone);
    $('input[name="s_pic"]').val(array.data.s_pic);

    $('#saveAjax').on('submit',function (event) {
        $.ajax({
            type : 'post',
            url : "store_save.html?s_id="+array.data.s_id,
            async : true,
            dataType : 'json',
            data:formData(),
            success : function(e){
                console.log(e)
                if(e.code < 0){
                    errorMsg(e.msg)
                }else{
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    parent.storeMassageAjax(); //再执行关闭
                }
            },error:function (xhr) {
                if(!errorAjax(xhr.status)){
                    return false;
                }
            },beforeSend:function(){
                index = layer.msg('添加门店提交中', {
                    icon: 16,
                    shade: 0.4,
                    time:false //取消自动关闭
                });
            },
        })
        event.preventDefault();
    })
    // $('#addAjax').on('submit',function (event) {
    //     $.ajax({
    //         type : 'post',
    //         url : "storeAdd.html",
    //         async : true,
    //         dataType : 'json',
    //         data:formData(),
    //         success : function(e){
    //             console.log(e)
    //             if(e.code < 0){
    //                 errorMsg(e.msg)
    //             }else{
    //                 var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    //                 parent.layer.close(index); //再执行关闭
    //                 parent.storeAjax(); //再执行关闭
    //             }
    //         },error:function (xhr) {
    //             if(!errorAjax(xhr.status)){
    //                 return false;
    //             }
    //         },beforeSend:function(){
    //             index = layer.msg('添加门店提交中', {
    //                 icon: 16,
    //                 shade: 0.4,
    //                 time:false //取消自动关闭
    //             });
    //         },
    //     })
    //     event.preventDefault();
    // })
    
    function clickUpload() {
        layer.open({
            type: 2,
            title: '上传图片',
            shadeClose: false,
            btn:['确定','取消'],
            shade: 0.8,
            closeBtn:0,
            area: ['820px', '400px'],
            content: 'upload_view.html',
            yes:function(index){
                var iframeWin1 = window["layui-layer-iframe" + index];
                var res = iframeWin1.callbackdata();
                $('#s_pic').val(res)
                layer.close(index);
            },
        });
    }

    /**
     * 给子页面传值
     * @returns {Array}  返回数组给子页面
     */
    function Subpage() {
        var data = [];
        data['url'] = 'upload.html?name=store';
        data['name'] = 'store';
        data['num'] = '1';
        return data
    }

</script>

{/block}