input[type="radio"] + label::before
{
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: 1;
}
body, html{
    width: 100%;
    height: 100%;
}
input[type="radio"]:checked + label::before
{
    background-color: #01cd78;
    background-clip: content-box;
    padding: .2em;
}
input[type="radio"]
{
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
li
{
    list-style: none;
}
.essential{
    color: red;
    font-size: 16px;
}
.radio-box {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
}
div::-webkit-scrollbar
{
    display: none;    /* 隐藏滚动条 */
}
.footer_nav
{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    padding: 0;
}
.footer_ul
{
    padding: 0;
    margin: 0;
}
.footer_ul li
{
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
}
.footer_ul li i
{
    display: block;
    font-size: 30px;
    color: #333;
}
.footer_ul li span
{
    display: block;
    line-height: 15px;
    font-size: 15px;
    color: #333;
}

.footer_color
{
    color: #337ab7;
}
#store_list
{
    margin-top: 40px;
    padding: 0;
}
.store_list
{
    height: 100px;
    border-bottom: 1px solid #ccc;
    padding: 0;
    background-color: #fff;
}
.store_name
{
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #000;
}
.store_add
{
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    color: darkgray;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.store_phone
{
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: darkgray;
}
#store_add
{
    border-bottom: 1px solid #ccc;
    padding: 0;
    height: 40px;
    background-color: #ffffff;
}
#store_img img
{
    width: 100%;
    height: 100%;
}
.store_add_img
{
    height: 40px;
    padding: 0;
    text-align: center;
}
.store_add_img img
{
    height: 70%;
    margin-top: 5px;
}
.store_add_name
{
    padding: 0;
    height: 40px;
}
.store_add_name span
{
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: #000;
}
.Evaluation2
{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 14px;
    background-color: #fff;
}
.Evaluation2 .swiper-wrapper{
    padding: 0;
}
.Evaluation2 .swiper-slide
{
    float: left;
    height: 60px;
    text-align: center;
    width: 30%;
    line-height: 60px;
    padding: 0;
}

.reser_resertime
{
    height: 40px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
}
.reser_resertime div
{
    width: 100%;
    height: 20px;
    line-height: 20px;
}
.on
{
    color: #1296DB;
    font-size: 14px;
    border-bottom: 3px solid #1296DB;
}
#reser_list
{
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin-top: 20px;
    background-color: #fff;
}
#reser_list .dispblock{
    display: block;
}
.reser_content
{
    display: none;
    width: 100%;
    height: 100%;
}
.reser_content span
{
    display: block;
    height: 20px;
    line-height: 20px;
}
.reser_content div
{
    height: 40px;
    float: left;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0;
}

.reser_content div:nth-child(4n)
{
    border-right: none;
}
.ontime
{
    background-color: #1296DB;
    color: #fff;
}
.bg
{
    background-color:#E8E8E8;
    text-decoration:line-through;
}
.reser_botton {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 30px;
}
.reser_botton button
{
    margin: 0 auto;
    width: 85%;
    background-color: #337ab7;
    border-color:#2e6da4;
    border-radius: 6px;
}

.reserForm{
    position: fixed;
    background-color: #fff;
    z-index: 999;
    top: 10%;
    left: 5%;
    width: 90%;
    margin:0 auto;
    height:380px;
}

.shadow
{
    width: 100%;
    height: 130%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 900;
}
.reserFormDiv
{
    height: 50px;
}
.user_head
{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    padding: 0;
}
.user_head_pic
{
    height: 100px;
    padding: 0;
    position: relative;
}
.user_head_pic .user_pic
{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    text-align: center;
}
.user_head_pic .user_pic img
{
   margin-top: 10px;
}
.user_head_name
{
    height: 100px;
    /*background-color: pink;*/
    padding: 0;
}
.user_nickname
{
    width: 50%;
    height: 100px;
    /*background-color: red;*/
    line-height: 100px;
    text-align: center;
}
.user_nickname span{
    font-size: 18px;
}
.user_list{
    padding: 0;
    margin-top: 10px;
    background-color: #ffffff;
}
.user_list div{
    text-align: center;
}
.tabs-container ul li{
    width: 50%;
}