<div class="footer_nav col-xs-12 col-md-12" id="content">
    <ul class="row footer_ul">
        <li class="col-xs-6 col-md-6">
            <a href="index.html" >
                <i class="fa fa-home fa-color"></i>
                <span>门店</span>
            </a>
        </li>
        <li class="col-xs-6 col-md-6">
            <a href="user.html">
                <i class="fa fa-user "></i>
                <span>我的</span>
            </a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    if(GetUrlRelativePath() == '' || GetUrlRelativePath() == 'index.html' || GetUrlRelativePath() == 'store.html'){
        $('ul li i')[0].style.color = '#337ab7'
        $('ul li span')[0].style.color = '#337ab7'
        $('ul li a')[0].href = 'javascript:;'
    }else{
        $('ul li i')[1].style.color = '#337ab7'
        $('ul li span')[1].style.color = '#337ab7'
        $('ul li a')[1].href = 'javascript:;'
    }
    // console.log(GetUrlRelativePath());
</script>
