<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>乐婴岛小儿推拿 - {block name="title"}{/block}
    </title>
    <link href="__PUBLIC__/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/swiper-3.3.1/swiper-3.3.1.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/jq/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/swiper-3.3.1/swiper-3.4.2.min.js"></script>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <style type="text/css">
        .essential{
            color: red;
            font-size: 16px;
        }
        .radio-box {
            display: inline-block;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            padding-right: 20px;
        }
    </style>
    {block name="css"}{/block}
</head>

<body class="gray-bg" style="background-color: #EDEDED">
{block name="body"}{/block}

<script type="text/javascript" src="__JS__/function.js"></script>
<script type="text/javascript" src="__JS__/plugins/layer/layer.js"></script>
<script src="__JS__/plugins/chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/bootstrap.min.js"></script>
{include file="public/footer_nav" /}
{block name="js"}{/block}
</body>
</html>